*{
  padding:0;
  margin:0;
  text-decoration: none;
}
img,
embed,
object,
video{
  max-width: 100%;
}

body{
  min-height: 100%;
  max-height: 100%;
  position: relative;
  font-size: 62.5%;
}
a:visited{
  color:black;
  text-decoration: none;
}

li{
      list-style: none;
      color:black;
    }
li:hover{
      color:#DDCCFF;
    }
li:visited{
      color:black;
    }

h4{
  font-family: 'Yesteryear',cursive,Times,serif;
  font-size: 2.2em;
}

time{
  font-size: .5em;
}
#timely{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: .7em;
  margin-top: .3em;
}
.bannerContainer{
  position:relative;
  width: 100%;
  max-width: 100%;
  top:0px;
  max-height: auto;
}
  #bannerImage{
        top:0px;
        display: block;
        position: relative;
        width: 100%;
        max-height:97.1828016077529%; /**/
        background-repeat: no-repeat;
        background-color: transparent;
        z-index: -1;
        opacity: .99;
        border-bottom: thick ridge;
        margin-bottom: 70px; /**/
  }
    #HomeName{
      position:absolute;
      display: inline-block;
      width: 100%;
      bottom:20%; /* 200 ÷ 1259.420 = 20.95377932764369% */
      opacity: 1;
    }
      #HomeName h4{
                max-width: 100%;
                padding-left: 2.336694278604059%; /* 40 ÷ 1711.820*/
                padding-right: auto;
                font-size:4em;/*111px*/
                color:white;
                margin-bottom: 100px;
      }

        #HomeName :visited{
          text-decoration: none;
        }

#Categories{
  position: absolute;
  top:1.985040733035842%;
  right:.5em;
  max-width: 100%;
  font-size:1.5em;
  align-items: center;
  text-align: right;
}
#categoryList li{
  color:black;
}
#categoryList li:hover{
  color:#ddccff;
}
#categoryList li:visited{
  color:white;
}

#footer{
  position: relative;
  display: inline;
  width: 100%;
  display:inline-block;
  align-items: center;
  text-align: center;
  text-transform:uppercase;
  font-size: 1.3em;
  font-style:bold;
  bottom:10%;
  top:32%;/* 2455px ÷ 2391.950 = -0.3927081942491812%*/
  margin-top:40px;
  padding-bottom: 60px;
}

#contactList li{
  list-style-type: none;
  margin:auto;
  padding:0.5em;
  display: inline;
}

#main {
  background-color:white;
  overflow: auto;
  font-family: 'Arapey',serif,Optima,Arial,sans-serif;
  font-size: 1.7em;
}
#TwoImages{
  position: relative;
  top:65.95087978473633%;/* 1000 ÷ 2384.020*/
  padding-top: 6.567686163116695%; /* 160px ÷ 2474.420*/
  max-width: 100%;
  max-height: 100%;
}
/*#ghostArt{
  position:relative;
  transform: rotate(90deg);/*width becomes height and height becomes width
  max-width: 100%;
  max-height: 100%;
  height:26.55337227827934%; 500 ÷ 1883 =26.55337227827934
  width:35.40392989909719%; 666.656 ÷ 1883  =
  bottom:33.5195530726257%; 300 ÷ 895 =33.5195530726257%
  float:left;
  left:15.9320233669676%; 300÷1883
}*/
#faceImage{
  position: relative;
  bottom:100px; /* 100 ÷ 895 = 11.1731843575419*/
  width: 40%;
  height: auto;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*width: 26.55337227827934%; 500 ÷ 1883 =*/
  /*right:17.52522570366437%;400 ÷ 1883 =21.24269782262347%    right: 330px ÷ 1883*/

  }
#EmilyDescription{
  position:relative;
  margin-left:10.62134891131174%; /*200 ÷ 1883 =*/
  margin-right: 10.62134891131174%;
  margin-top: 40px;/**/
  margin-bottom:30px;
  bottom:4.931331212860912%; /*120 ÷ 2433.420 */
  clear:both;
  vertical-align: middle;
  float: none;
  text-align: center;
  padding-bottom: 50px;
}
@media screen and (max-width:1214px){
  #HomeName{
    font-size: .7em;
  }
  #footer{
    padding-bottom:80px;
  }
}


/*tablet  media queries */
@media screen and (max-width:786px){
  body{
  font-size: 100%;
 }
 #Categories{
   position:relative;
   max-width: 100%;
   font-size: .8em;
   font-weight: bold;
   top:0;
   text-align: center;
   margin:0 auto;
   padding-bottom: 20px;
 }
 #Categories li{
   display:inline;
   text-align: center;
 }
 #Categories li a{
   display: block;
   max-width: 100%;
 }
 #TwoImages > ul{
    position: relative;
    width: 100%;
    max-height: 100%;
    float:left;
    overflow: auto;
  }
  #TwoImages{
    position: relative;
    display: block;
    clear:both;
    overflow: auto;
    margin:0 auto;
    padding:0;
    vertical-align: middle;
    font-size: 0;
  }
  #TwoImages > li{
    position:relative;
    display:inline-block;
    right: 0px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height:100%;
    top:0px;
    text-align: center;
    align-items: center;
    float:none;
    clear:both;
    overflow: hidden;
    }
  img#faceImage, img#ghostArt{
    position:inherit;
    display: block;
    width: 100%;
    margin:50px 0 100px 0; /*margin between list items???*/
    padding: 0 auto;
    float: none;
    clear:both;
    vertical-align: middle;
  }
  #HomeName{
    position: absolute;
    max-width: 100%;
    font-size: .6em;
    bottom:0%;
  }

  #EmilyDescription{
    position: relative;
    clear:both;
    margin-left:10.62134891131174%; /*200 ÷ 1883 =*/
    margin-right: 10.62134891131174%;
    font-size: 1.4em;
  }
  #footer{
    max-width: 100%;
    position: relative;
    display: inline;
    text-align: center;
    bottom:10%; /* above the image picture*/
    margin-bottom: 10%;
    font-size: 1em;
    padding: 20px 0 20px 0 ;
  }
}

/*Phone Styling*/
@media screen and (max-width:486px){
  #bannerImage img{
    padding-bottom: 20px;
  }
  #HomeName{
    margin:0 auto;
  }
  #HomeName > h4{
    font-size: 2em;
  }
  #Categories{
    text-align: center;
    vertical-align: middle;
    padding-bottom: 50px;
    margin-bottom:40px;
  }
  #EmilyDescription{
    font-size: 1em;
  }
}
