*{
  margin:0;
  padding:0;
  text-decoration: none;
  font-family: 'Arapey',serif,Optima,Arial,sans-serif;
}

html{height:100%;}
body{
  min-height: 100%;
}
h4{
  top:0px;
  text-align: center;
  font-family: 'Yesteryear',cursive;
  font-size: 60px;
  color: black;
  text-decoration: none;
}
h4:visited{
  color:black;
  text-decoration: none;
}
a{
  color:black;
}
a:visited{
  color:black;
}
body{
  min-height: 100%;
  position: relative;
}
li{
  list-style: none;
}
li:hover{
  color:#DDCCFF;
}
li:visited{
  color:black;
}
li:active{
  color:#DDCCFF;
}
#Categories{
  position: absolute;
  font-size:40px;
  top:20px;
  right:10px;
  max-width: 100%;
  float:right;
  align-items: center;
  text-align: right;
}
#categoryList{
  text-align: right;
  color: rgb(0,0,0);
  margin-bottom:40px;
}
#categoryList li:visited{
  color:black;
}

/*footer borderLine bottome*/
#footer:before{
  content: "";
  display: block;
  width: 70%;
  margin-top:-8%;
  margin-left: auto;
  margin-right: auto;
  border-top: solid;
  padding-bottom: 2em;
}
#footer{
  position: absolute;
  clear:both;

  /*bottom:-6%;*/

  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  font-style:bold;
  color:black;
  margin:10em auto -.4em auto;
}
#contactList::before{
  padding-top: 2em auto .1em auto;

}
#contactlist{
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  padding-top: 2em;
}
#contactList li{
  color:black;
  display: inline;
  padding-left: .5em;
  padding-right: 1em;

}
#timely{
  position: absolute;
  bottom:-11%;
  width: 100%;
  text-align: center;
  vertical-align: center;
  align-items: center;
  color:black;
  font-size: 1.1em;
}
time{
  position: absolute;
  bottom:0;
  width: 100%;
  text-align: center;
  vertical-align: bottom;
  align-items: center;
  color:black;
  display: inline;
}
/*ul of entire */
ul.rig{
  list-style: none;
  font-size: 0px;
  padding-right: 326px;
  padding-left: 326px;
  padding-bottom:90px;
}
/*list of images styling*/
ul.rig li{
  display:inline-block;
  padding:10px;
  margin: 0 0 2.5% 2.5%;
  background: #fff;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-bottom: 60px;
}
/*Title of each picture frame */
ul.rig li h3{
  margin:0 0 5px;
}
/*description of image*/
ul.rig li p{
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
}
/*number of columns*/
ul.rig.columns-3 li{
  width:30.83%;
}
.image{
  display:block;
  width:100%;
  height:auto;
  cursor:pointer;
}
/*Overlay on top of image to hold text*/
.overlay{
  position: relative;
  max-height:100%;
  max-width:100%;
  opacity: 0;
  transition: .5s ease;
  text-align: middle;
  vertical-align: middle;
}
/*Text on Image*/
.text{
  color:#212F3D;
  text-shadow:0 0 3px #7F8C8D, 0 0 5PX #F7F9F9;
  font-size: 22px;
  text-align: center;
  align-items: middle;
  align-content: center;
  vertical-align: middle;
  bottom:100%;
  left:175px;
  position: absolute;
  transform: translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  font-weight: bold;
  cursor:pointer;
  transition:0.3s.
}

li.image:hover .overlay{
  opacity:1;
}

.modal{
  display:none;/*hidden by default*/
  position:fixed;/*stays in place*/
  z-index:1;/*sits on top*/
  padding-top:50px; /*location of the box*/
  left:0;
  top:0;
  width:100%; /*full width*/
  height:100%;/*full height*/
  overflow:scroll;/*enable scroll if needed*/
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.9);/*black w/ opacity*/
}

.modal-content{
  margin:auto;
  margin-top:auto;
  margin-bottom: 15%;
  display:block;
  width:50%;/*50% original*/
  max-width: 700px; /*700 original px width*/
  -webkit-animation-name:zoom;
  -webkit-animation-duration:0.6s;
  animation-name:zoom;
  animation-duration:0.6s;
}

@-webkit-keyframes zoom{
  from{-webkit-fransform:scale(0)}
  to{-webkit-transform:scale(1)}
}

@keyframes zoom {
  from{transform:scale(0)}
  to{transfrom:scale(1)}
}

/*the close button*/
.close{
  position:absolute;top:15px;
  right:35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/*button styling for back to top*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #DDCCFF; /* Set a background color */
    color: BLACK; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-weight: bold;
    font-size: 1.7em;
    font-family: 'Yesteryear',cursive;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


/**/
@media only screen and (max-width:1854px){
  #Categories{
    position: relative;
    font-size: 2em;
    width: 100%;
    max-width: 100%;
    padding-bottom: 30px;
    align-content: center;
    text-align: center;
    clear:both;
    float:none;
    }
  #Categories li{
    display: inline-block;
    text-align: center;
    align-items: center;
    padding:0 0 30px 20px;
  }
  #Categories li a{
    display:block;
    max-width: 100%;
  }
  #categoryList{
    text-align: center;
  }
  #categoryList:after{
    content: "";
    display: block;
    width: 65%;
    margin:auto;
    border-bottom: solid;
  }
  .overlay{
    position: relative;
    text-align: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
  }
  .text{
    text-align: center;
  }
  #timely{
    position: relative;
    margin-top:10%;
  }
}
@media only screen and (max-width:1753px){
  ul.rig{
    padding:0 0 160px 0;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
  }
  ul.rig li{
    vertical-align: middle;
    margin:0 0 0 0;
  }
  ul.rig.columns-3 li{
    display:inline-block;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    padding:10px 20px 10px 10px;
    width:70%;
  }
  img{
    width: 100%;
    height: auto;
  }
  .overlay{
    margin-left: auto;
    margin-right: auto;

  }
  .text{
    left: 50%;
    margin-right: auto;
  }
  #footer:before{
    content: "";
    display: block;
    width: 70%;
    margin-top:-8%;
    margin-left: auto;
    margin-right: auto;
    border-top: solid;
    padding-bottom: 2em;
  }
  #footer{
    display: block;
  }
  #timely{
    display:block;
    position: relative;
    bottom:-11%;
    margin-top:11%;
  }
}

@media only screen and (max-width:1399px){
  #timely{
    margin-top:17%;
}

}

@media only screen and (max-width:1123px){
  #timely{
    margin-top:23%;
  }
}
@media only screen and (max-width:870px){
  #timely{
    margin-top:29%;
  }
}
/*tablet styling*/
@media only screen and (max-width:786px){
  .modal-content{
    width:100%;
  }
}

@media only screen and (max-width:731px){
  #timely{
    margin-top:31%;
  }
}
/*phone styling*/
@media only screen and (max-width:486px){
.rig columns-3{
  padding: 0 0 0 0 ;}
  .overlay{
    align-content: center;
    text-align: center;
    margin: 0 -50%;
  }
.text{
  font-size: 1.4em ;
  text-align: center;
}
#timely{
  padding-top:20px;
}
}
/*media queries to fix and understand*/

/* 100% Image Width on Smaller Screens */
/*@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }*/


/*@media (max-width:480px){
  #Categories{
    opacity: .2;
  }

  ul.grid-nav li{
    display:block;
    margin:0px 0px 5px;
  }
  ul.grid-nav li a{
    display:block;
  }
  ul.rig{
    margin-left:0px;
  }
  ul.rig li{
    width: 100% !important;
    margin:0 0 20px;
  }
}*/
